.navbar{
  height: 50px;
  background-color: #003580;
  display: flex;
  
}

.navContainer{
  width: 100%;
  max-width: 2024px;
  color: white;
  display: flex;
  justify-content: space-between;
  /* margin-left: 10%; */
  /* background-color: red; */
}

.navButton{
  border: none;
  padding: 5px 20px;
  color: #003580;
}

.navButton:hover {
  color: #f00; /* New color on hover (e.g., red) */
}

.user-link-button{ 
  margin-left: 35px;
}

.gashandle {
  width: 30px;
  height: 40px;
  position: relative;
  left: 200px;
}