.fQ {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  background: #f6f4f4;
  border-radius: 4px;
}

.fQButton{
  display: flex;
  justify-content: center; /* Center horizontally */
}